rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{id} {
      allow read: if true;
      allow create, update, delete: if true;
    }
    match /votes/{id} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if true;
    }
    match /views/{id} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if false;
    }
    match /config/{doc} {
      allow read: if true;
      allow write: if true;
    }
  }
}
